///////////////////
// heme-select-item
.boost_magnific-theme-select-item {
    float: left;
    .preview {
        width: 50px;
        height: 50px;
        margin: 1.5px;
        border-radius: 6px;
        cursor: pointer;
        transition: .3s ease-out;
    }
}
.boost_magnific-seletor-de-theme {
    display: flex;
    align-items: center;
    background: #e6e6e6;
    width: fit-content;
    border-radius: 4px;
    margin-bottom: 5px;
    span {
        display: inline-block;
        padding: 2px;
        margin: 3px;
        border-radius: 4px;
    }
}
#header {
    &.fixed-top,
    &.ever-fixed-top {
        background: var(--topscroll_background) !important;
    }
}
