body {
    #page-header {
        color: #fff;
        background: #988901 url("[[pix:theme|bg_users]]") repeat 0 -50px;
    }
}
#loginone-wrapper {
    background: #fff url([[pix:theme|login-background-yellow2]]) no-repeat fixed 50%;
    .text-primary,
    h2,
    .login-icone i {
        color: #988901;
    }
    #loginbtn {
        border: 1px solid #988901;
        background-color: #988901;
    }
}
#nav-drawer {
    .list-group-item {
        color: rgba(0, 0, 0, .54);
        i {
            color: rgba(0, 0, 0, .54);
        }
        &:focus,
        &:hover {
            color: rgba(0, 0, 0, .80);
            i {
                color: rgba(0, 0, 0, .80);
            }
        }
        &.font-weight-bold {
            color: #988901;
        }
        &.sidebar-heading div {
            color: #b7bdc1;
        }
    }
}
body[rel^="page-admin-"] .menu-sitesettings {
    color: #988901;
}
.navbar-light {
    //background     : #988901 url("[[pix:theme|bg_users]]") repeat 0 0;
    background: #857801 url("[[pix:theme|bg_users]]") repeat 0 0;
    .navbar-toggler {
        &::after,
        .material-icons {
            color: rgba(255, 255, 255, .7);
            &:focus,
            &:focus {
                color: #fff;
            }
        }
    }
}
#nav-notification-popover-container,
#nav-message-popover-container {
    .icon {
        color: rgba(255, 255, 255, .7);
        &:focus,
        &:focus {
            color: #fff;
        }
    }
}
/**
 * Styling the dropdown menus.
 */
.usermenu {
    .dropdown-toggle::after {
        color: #fff;
    }
}
.dropdown-menu,
.popover-region-container {
    color: #373a3c;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 3px;
    .dropdown-item {
        .icon,
        .menu-action-text {
            color: rgba(0, 0, 0, .54);
        }
        &:focus,
        &:focus {
            .icon,
            .menu-action-text {
                color: #4d4f50;
            }
        }
    }
}
.calendar-controls {
    .arrow_link {
        background: #988901;
        color: #fff;
    }
    .current {
        color: #988901;
    }
}